<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    
    <header>
        <%- include('../partials/header'); %>
    </header>


    <section id="padmd">
        <h1>Welcome to the Dr. Yanwei Wang's research group at Nazarbayev University!</h1>
        <br>
        <h3>Try the modeling tools.</h3>
    </section>

    <section id="padlg">
        <div class="card-group">
            <div class="card">
              <img src="https://i.ibb.co/BcSRZxw/worm.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Wormlike chain model for PCE superplasticizers</h5>
                <!-- <p class="card-text"></p> -->
                <button type="button" class="btn btn-outline-success" onclick="location.href='/worm'">Try it!</button>
              </div>
            </div>
            <div class="card">
              <img src="http://lh3.ggpht.com/-O-BhdxpkFu8/VDZ9V1OdLKI/AAAAAAAABTo/kpnwz-cjOB8/Pumpable%252520Concrete_thumb%25255B13%25255D.png?imgmax=800" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Concrete pumping modeler</h5>
                <!-- <p class="card-text"></p> -->
                <button type="button" class="btn btn-outline-success" onclick="location.href='/pump'">Try it!</button>
              </div>
            </div>
          </div>
    </section>

    <footer id="padlg">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>