<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    
    <header>
        <%- include('../partials/header'); %>
    </header>


    <section id="centering">
        <h1>Welcome to the Dr. Yanwei Wang's research group at Nazarbayev University!</h1>
        <h3>Feel free to use the research results developed by this group.</h3>
    </section>










    <footer id="centering">
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>